* {
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  width: 90%;
  margin: auto;
}

/* Header Styles */
header {
  background-color: #333;
  color: #fff;
  padding: 1rem 0;
  position: sticky;
  top: 0;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
}

nav ul li {
  margin: 0 15px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 1.1rem;
}

nav ul li a:hover {
  text-decoration: underline;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 30px;
}

/* About Section Styles */
#about {
  padding: 40px 20px;
  background-color: #fff;
}

#about h2 {
  font-size: 2rem;
  margin-bottom: 20px;
}

#about p {
  font-size: 1rem;
  color: #666;
  margin-bottom: 20px;
}

#about h3 {
  font-size: 1.5rem;
  margin-top: 30px;
  margin-bottom: 15px;
}

.team-members {
  list-style: none;
  padding: 0;
}

.team-members li {
  margin-bottom: 15px;
}

.team-members h4 {
  margin: 0 0 5px;
}

.team-members a,
.repo {
  color: #007bff;
  text-decoration: none;
  margin-right: 10px;
}

.team-members a:hover {
  text-decoration: underline;
}

/* Key Features Section Styles */
#features {
  background-color: #f9f9f9;
  padding: 40px 20px;
}

.feature {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.feature-image {
  width: 150px;
  height: 150px;
  object-fit: cover;
  margin-right: 20px;
}

.feature h3 {
  font-size: 1.5rem;
  margin: 0 0 10px;
}

.feature p {
  font-size: 1rem;
  color: #666;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .feature {
    flex-direction: column;
    align-items: flex-start;
  }

  .feature-image {
    margin-bottom: 10px;
  }
}

/* Cover Section Styles */
.cover {
  background-image: url("../images/Header.jpg"); /* Replace with your cover image */
  background-size: cover;
  background-position: center;
  color: #fff;
  text-align: center;
  padding: 200px 20px;
  margin-bottom: 25px;
}

.cover-content {
  position: relative;
}

.cta-button {
  position: absolute;
  top: 205px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  font-size: 1.2rem;
}

.cta-button:hover {
  background-color: #0056b3;
}

h2 {
  font-size: 2rem;
  margin-bottom: 20px;
}

/* Footer Styles */
footer {
  background-color: #f1f1f1;
  padding: 20px 0;
  text-align: center;
}

footer p {
  margin: 0;
}
